.section-codegenerator {
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-codegenerator {
    height: 8rem;
    margin: 3rem 0;

    display: flex;
    justify-content: left;
    align-items: center;
}