@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1); }
  50% {
    opacity: 0.5;
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.fadein {
  animation: fadeIn 0.7s linear both; }

.flex-0 {
  flex: 0; }

.flex-1 {
  flex: 1; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #eee;
  font-family: 'Roboto', 'Open Sans', sans-serif; }

::selection {
  background-color: #bdbdbd;
  color: #fff; }

input[type="radio"] {
  visibility: hidden;
  opacity: 0;
  position: absolute; }

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none; }

.body-container {
  max-width: 112rem;
  margin: 6rem auto;
  font-size: 1.6rem;
  color: #1b1b1b;
  position: relative; }
  .body-container::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: -1000;
    background: radial-gradient(circle, #fff 90%, #eee 95%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  flex: 1; }
  .navigation__list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch; }
  .navigation__item {
    text-decoration: none;
    list-style: none;
    border-left: 1px solid #1b1b1b; }
    .navigation__item:last-child {
      border-right: 1px solid #1b1b1b; }
    .navigation__item--link {
      text-decoration: none;
      color: #1b1b1b;
      padding: 0.3rem 0.2rem;
      display: inline-block;
      width: 10rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navigation__item--link:visited {
        text-decoration: none; }
      .navigation__item--link:active, .navigation__item--link:hover {
        background-color: #000; }
        .navigation__item--link:active span, .navigation__item--link:hover span {
          color: #fff; }
      .navigation__item--link--selected {
        background-color: #1b1b1b;
        color: #fff; }

.generator {
  height: 100%;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  .generator__input {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 900;
    position: relative;
    border: 1px solid #1b1b1b;
    min-width: 22rem;
    text-align: center;
    margin: 0 2rem; }
    .generator__input--smalltext {
      font-size: 1rem;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%); }

.tooltip {
  display: inline-block;
  position: relative;
  z-index: 20; }
  .tooltip:hover, .tooltip:active {
    transform: scale(1.1); }
  .tooltip:hover .tooltip--text {
    visibility: visible;
    z-index: 20; }
  .tooltip--icon {
    font-size: 2rem;
    color: #1b1b1b; }
  .tooltip--text {
    visibility: hidden;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 11rem;
    position: absolute;
    top: -50%;
    left: 100%;
    color: #fff;
    background-color: #1b1b1b;
    margin-left: 1.3rem;
    outline: none;
    z-index: 20;
    box-shadow: 0.2rem 0.3rem #bdbdbd; }
    .tooltip--text::after {
      content: "";
      outline: none;
      position: absolute;
      top: 7%;
      right: 99%;
      border-width: 1rem;
      border-style: solid;
      border-color: transparent #1b1b1b transparent transparent;
      z-index: 20; }

.btn {
  position: relative;
  border: none;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  color: #1b1b1b;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  transition: color .2s;
  min-width: 12rem; }
  .btn:visited {
    text-decoration: none; }
  .btn:focus, .btn:hover {
    outline: none;
    outline-offset: none;
    color: #fff; }
    .btn:focus::after, .btn:focus::before, .btn:hover::after, .btn:hover::before {
      transform: translateY(0); }
  .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #1b1b1b;
    transform: translateY(88%);
    transition: transform 0.3s; }
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #1b1b1b;
    transform: translateY(-88%);
    transition: transform 0.3s; }

.addcodeform {
  padding: 1rem;
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .addcodeform__element {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .addcodeform__element:first-of-type {
      flex-direction: column; }
    .addcodeform__element__title {
      padding: 1rem;
      font-weight: 900; }
    .addcodeform__element__label {
      display: block;
      cursor: default;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      position: relative; }
    .addcodeform__element:not(:last-child) {
      border-right: 1px solid #1b1b1b; }
  .addcodeform__inputcode {
    margin-top: 1rem;
    position: relative; }
    .addcodeform__inputcode--label {
      width: 90%;
      font: inherit;
      background-color: #fff;
      font-size: 2.5rem;
      text-align: center;
      border: 1px solid #1b1b1b;
      outline: none;
      margin-bottom: 1rem; }
      .addcodeform__inputcode--label:active, .addcodeform__inputcode--label:hover, .addcodeform__inputcode--label:focus {
        outline: 2px solid #1b1b1b;
        background-color: #fff; }
      .addcodeform__inputcode--label--smalltext {
        position: absolute;
        visibility: hidden;
        opacity: 0; }
      .addcodeform__inputcode--label:focus + .addcodeform__inputcode--label--smalltext {
        position: absolute;
        top: 75%;
        left: 57%;
        color: #1b1b1b;
        font-size: 1rem;
        font-weight: 100;
        visibility: visible;
        opacity: 1; }
  .addcodeform__codetype {
    margin-top: 1rem;
    font-size: 2rem; }
    .addcodeform__codetype--radio {
      display: block;
      padding: 0.6rem;
      cursor: pointer; }
      .addcodeform__codetype--radio:hover {
        background-color: #1b1b1b;
        color: #fff; }
      .addcodeform__codetype--radio--selected {
        display: block;
        color: #fff;
        background-color: #1b1b1b;
        padding: 0.6rem; }
  .addcodeform__plantype {
    margin-top: 1rem;
    font-size: 2rem; }
    .addcodeform__plantype--radio {
      display: block;
      padding: 0.6rem;
      cursor: pointer; }
      .addcodeform__plantype--radio:hover {
        background-color: #1b1b1b;
        color: #fff; }
      .addcodeform__plantype--radio--selected {
        display: block;
        color: #fff;
        background-color: #1b1b1b;
        padding: 0.6rem; }
  .addcodeform__value {
    font-size: 2rem; }
    .addcodeform__value__container {
      font-size: 2rem;
      display: flex;
      flex-wrap: wrap; }
    .addcodeform__value--label {
      width: 25%;
      padding: 0.5rem;
      cursor: pointer; }
      .addcodeform__value--label:hover {
        background-color: #1b1b1b;
        color: #fff; }
      .addcodeform__value--label--selected {
        background-color: #1b1b1b;
        color: #fff;
        padding: 0.5rem;
        font-weight: 900;
        width: 25%;
        cursor: pointer; }
  .addcodeform__currency {
    margin-top: 1rem;
    font-size: 2.2rem;
    text-align: center; }
    .addcodeform__currency__container {
      border: 3px solid #1b1b1b;
      box-shadow: 0.15rem 0.3rem rgba(27, 27, 27, 0.15);
      text-align: center;
      font-size: 3.5rem;
      height: auto;
      display: inline-block;
      overflow: hidden; }
    .addcodeform__currency--label {
      background-color: #fff;
      padding: 1.5rem;
      font-weight: 600;
      cursor: pointer; }
      .addcodeform__currency--label:hover {
        background-color: #1b1b1b;
        color: #fff; }
      .addcodeform__currency--label--selected {
        background-color: #1b1b1b;
        color: #fff;
        padding: 1.5rem;
        font-weight: 900; }
  .addcodeform__submit {
    align-self: center;
    font-size: 2.2rem;
    font-weight: 900; }
  .addcodeform__calculator {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .addcodeform__calculator__title {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .addcodeform__calculator__text {
      font-size: 3rem;
      font-weight: 900;
      text-decoration: underline;
      background-color: #1b1b1b;
      color: #fff;
      padding: 1rem;
      margin-bottom: 2rem; }
    .addcodeform__calculator__code {
      color: #1b1b1b;
      background-color: #fff;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .addcodeform__calculator__code--small {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: 0.5rem; }
      .addcodeform__calculator__code--big {
        padding: 1.2rem 4rem;
        color: #fff;
        background-color: #1b1b1b;
        border: 4px dashed #fff; }
  .addcodeform__calcandsubmit {
    margin-top: 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .addcodeform__result {
    min-height: 20rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .addcodeform__tooltip {
    position: absolute;
    top: 2%;
    left: 90%; }

.mycodes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mycodes__code {
    font-size: 2rem; }
    .mycodes__code:not(:last-child) {
      margin-bottom: 1rem; }

.header {
  padding: 0.5rem 1rem;
  max-height: 15rem;
  border-bottom: 2px solid #1b1b1b;
  display: flex; }
  .header__logo-box {
    display: inline-block;
    width: 5%; }
    .header__logo-box__logo {
      width: 100%;
      height: auto; }
  .header__title {
    display: inline-block;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header__title__text {
      font-size: 2.8rem;
      font-weight: 700;
      margin: 0; }
    .header__title__desc {
      font-style: italic;
      font-size: 1.4rem; }

.footer {
  border-top: 2px solid #1b1b1b;
  padding: 0.5rem;
  position: relative; }
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__item {
    font-size: 1.3rem;
    font-weight: 100; }
  .footer::after {
    content: "";
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: -2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee; }

main {
  min-height: 60rem; }

.section-codegenerator {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-codegenerator {
  height: 8rem;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-codegenerator::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: -1000;
    background: radial-gradient(circle, #eee 90%, #fff 95%);
    border-bottom: 2px solid #1b1b1b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
