.addcodeform {
    padding: 1rem;
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &__element {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        &:first-of-type {
            flex-direction: column;
        }

        &__title {
            padding: 1rem;
            font-weight: 900;
        }

        &__label {
            display: block;
            cursor: default;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            position: relative;
        }

        &:not(:last-child) {
            border-right: 1px solid $color-tertiary;
        }
    }

    &__inputcode {
        margin-top: 1rem;
        position: relative;

        &--label {
            width: 90%;
            font: inherit;
            background-color: $color-primary; 
            font-size: 2.5rem;
            text-align: center;
            border: 1px solid $color-tertiary;
            outline: none;
            margin-bottom: 1rem;

            &:active, &:hover, &:focus {
                outline: 2px solid $color-tertiary;
                background-color: $color-primary;
            }

            &--smalltext {
                position: absolute;
                visibility: hidden;
                opacity: 0;
            }
            
            &:focus + &--smalltext {
                position: absolute;
                top: 75%;
                left: 57%;
                color: $color-tertiary;
                font-size: 1rem;
                font-weight: 100;

                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__codetype {
        margin-top: 1rem;
        font-size: 2rem;

        &--radio {
            display: block;
            padding: 0.6rem;
            cursor: pointer;
            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                display: block;
                color: $color-primary;
                background-color: $color-tertiary;
                padding: 0.6rem;
            }
        }
    }

    &__plantype {
        margin-top: 1rem;
        font-size: 2rem;

        &--radio {
            display: block;
            padding: 0.6rem;
            cursor: pointer;
            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                display: block;
                color: $color-primary;
                background-color: $color-tertiary;
                padding: 0.6rem;
            }
        }
    }

    &__value {
        font-size: 2rem;

        &__container {
            font-size: 2rem;
            display: flex;
            flex-wrap: wrap;

        }

        &--label {
            width: 25%;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                background-color: $color-tertiary;
                color: $color-primary;
                padding: 0.5rem;
                font-weight: 900;
                width: 25%;
                cursor: pointer;
            }
        }
    }

    &__currency {
        margin-top: 1rem;
        font-size: 2.2rem;
        text-align: center;

        &__container {
            border: 3px solid $color-tertiary;
            box-shadow: 0.15rem 0.3rem rgba($color-tertiary, 0.15);
            text-align: center;
            font-size: 3.5rem;
            height: auto;
            display: inline-block;
            overflow: hidden;
        }

        &--label {
            background-color: $color-primary;
            padding: 1.5rem;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }
            
            &--selected {
                background-color: $color-tertiary;
                color: $color-primary;
                padding: 1.5rem;
                font-weight: 900;
            }
        }
    }

    &__submit {
        align-self: center;
        font-size: 2.2rem;
        font-weight: 900;
    }

    &__calculator {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        &__title {
            margin-top: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__text {
            font-size: 3rem;
            font-weight: 900;
            text-decoration: underline;
            background-color: $color-tertiary;
            color: $color-primary;
            padding: 1rem;
            margin-bottom: 2rem;
            // &--empty {
            //     font-size: 2rem;
            //     font-weight: 100;
            // }
        }

        &__code {
            color: $default-font-color;
            background-color: $color-primary;
            margin-bottom: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--small {
                text-transform: uppercase;
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }

            &--big {
                padding: 1.2rem 4rem;
                color: $color-primary;
                background-color: $color-tertiary;
                border: 4px dashed $color-primary;
            }
        }
    }

    &__calcandsubmit {
        margin-top: 3rem;
        flex:1;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__result {
        min-height: 20rem;
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__tooltip {
        position: absolute;
        top: 2%;
        left: 90%;
    }
}