.addcodeform {
    padding: 1rem;
    font-size: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &__element {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__title {
            padding: 1rem;
            font-weight: 900;
        }

        &__label {
            display: block;
            cursor: default;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
        }

        &:not(:last-child) {
            border-right: 1px solid $color-tertiary;
        }
    }

    &__inputcode {
        margin-top: 1rem;

        &--label {
            width: 80%;
            font: inherit;
            background-color: $color-primary; 
            font-size: 2.8rem;
            text-align: center;
            border: 1px solid $color-tertiary;
            outline: none;

            &:active, &:hover, &focus {
                border: 2px solid $color-tertiary;
                outline: none;
                background-color: $color-primary;
            }
        }
    }

    &__codetype {
        margin-top: 1rem;
        font-size: 2rem;

        &--radio {
            display: block;
            padding: 0.6rem;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                display: block;
                color: $color-primary;
                background-color: $color-tertiary;
                padding: 0.6rem;
            }
        }
    }

    &__plantype {
        margin-top: 1rem;
        font-size: 2rem;

        &--radio {
            display: block;
            padding: 0.6rem;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                display: block;
                color: $color-primary;
                background-color: $color-tertiary;
                padding: 0.6rem;
            }
        }
    }

    &__value {
        font-size: 2rem;

        &__container {
            font-size: 2rem;
            display: flex;
            flex-wrap: wrap;

        }

        &--label {
            width: 25%;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }

            &--selected {
                background-color: $color-tertiary;
                color: $color-primary;
                padding: 0.5rem;
                font-weight: 900;
                width: 25%;
                cursor: pointer;
            }
        }
    }

    &__currency {
        margin-top: 1rem;
        font-size: 2.2rem;
        text-align: center;

        &__container {
            border: 3px solid $color-tertiary;
            box-shadow: 0.15rem 0.3rem rgba($color-tertiary, 0.15);
            text-align: center;
            font-size: 3.5rem;
            height: auto;
            display: inline-block;
            overflow: hidden;
        }

        &--label {
            background-color: $color-primary;
            padding: 1.5rem;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                background-color: $color-tertiary;
                color: $color-primary;
            }
            
            &--selected {
                background-color: $color-tertiary;
                color: $color-primary;
                padding: 1.5rem;
                font-weight: 900;
            }
        }
    }
} 