.btn {
    position: relative;
    border: none;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: $default-font-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    transition: color .2s;
    min-width: 12rem; 
    
    &:visited {
        text-decoration: none;
    }

    &:focus,
    &:hover {
        outline: none;
        outline-offset: none;
        color: $color-primary;
        &::after, &::before {
            transform: translateY(0);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $color-tertiary;
        transform: translateY(88%);
        transition: transform 0.3s;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $color-tertiary;
        transform: translateY(-88%);
        transition: transform 0.3s;
    }
}